---
---

* {
  box-sizing: border-box;
}

:root {
  --bg-1: #fff;
  --bg-2: #c7c7c7;
  --bg-2: #ccc;
  --bg-3: #d2d2d2;
  --bg-4: #dadada;
  --bg-5: #e1e1e1;
  --color: #000;
  --contrast: #383838;
  --accent: #d69955;
}

:focus {
  outline: solid var(--accent) thin;
}

.theme-dark {
  --bg-1: #1e1e1e;
  --bg-2: #252525;
  --bg-3: #2d2d2d;
  --bg-4: #333;
  --bg-5: #383838;
  --color: #eee;
  --contrast: #e1e1e1;
}

/* TODO: ordering properties here to bottom */

body {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-5); /* maybe not necessary */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color);
  line-height: 1.5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 0 4mm;
  height: 3rem;
  background-color: var(--bg-4);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-bottom: 1px solid var(--accent);
  img {
    margin-right: 2mm;
    max-height: 2em;
    flex: 0 0 auto;
  }
  h1 {
    flex: 0 0 auto;
  }
}

#page {
  padding-top: 3rem;
  display: flex;
  min-width: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

nav {
  height: auto;
  min-width: 250px;
  max-width: 350px;
  flex: 2 2 0;
  padding: 1em;
  background-color: var(--bg-3);
  border-right: 3px solid var(--accent);
  display: flex;
  flex-direction: column;
  & > * {
    flex: 0 0 auto;
  }
  ul {
    padding-inline-start: 10px;
    list-style-type: none;
    line-height: 1.8;
    .nav-item-active {
      background-color: var(--bg-1);
      position: relative;
      box-sizing: content-box !important;
      &::after {
        position: absolute;
        left: 100%;
        width: 0;
        height: 0;
        content: '';
        border-left: 1em solid var(--bg-1);
        border-top: 0.9em solid transparent;
        border-bottom: 0.9em solid transparent;
      }
    }
  }
  #nav-footer {
    width: 90%;
    margin: auto;
    margin-bottom: 0;
    line-height: 1.2;
    a {
      position: relative;
      top: -0.1em;
    }
  }
}

#main-container {
  flex: 10 10 0;
  background-color: var(--bg-1);
  padding: 2em;
  max-width: 100vw;
  min-height: calc(100vh - 3rem);
  cursor: auto;
  main {
    max-width: 6in;
  }
}

button, *[onclick] {
  cursor: pointer;
}

a {
  color: currentColor;
}

a:hover {
  background-color: rgba(127, 127, 127, 0.25);
}

a:visited {
  color: currentColor;
}

h1, h2, h3, h4 {
  margin: 0;
}

hr {
  border: 1px solid var(--contrast);
}

pre {
  padding: 1em;
  overflow-x: auto;
  background-color: var(--bg-5) !important;
  border-radius: 1em;
  user-select: contain; /* In CSS UI 4. Not yet supported, especially without prefix. */
  margin-block-start: 0;
  margin-block-end: 0;
}

.highlighter-rouge > .highlight { /* Include the scrollbar in border-radius */
  border-radius: 1em;
  overflow: hidden;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

code.highlighter-rouge {
  padding: 0.25em;
  background-color: var(--bg-5) !important;
  border-radius: 0.5em;
}

/* Mobile */
@media screen and (max-width: 768px) {
  header #btn-menu {
    display: block;
    font-size: 2em;
    margin-left: auto;
  }
  nav {
    width: 250px;
    height: calc(100% - 3rem);
    position: fixed;
    right: 0;
    z-index: 2;
    transform: translateX(250px);
    transition: transform 0.15s linear;
    &.nav-open {
      transform: translateX(0);
    }
    border-right: none;
    border-left: 3px solid var(--accent);
    .nav-item-active {
      &::before {
        position: absolute;
        right: 100%;
        width: 0;
        height: 0;
        content: '';
        border-right: 1em solid var(--bg-1);
        border-top: 0.9em solid transparent;
        border-bottom: 0.9em solid transparent;
      }
      &::after {
        display: none;
      }
    }
  }
  nav.nav-open + #main-container::after {
    display: block;
    content: '';
    background: var(--bg-1);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-muted {
  color: #8e8e8e;
}

.font-small {
  font-size: small;
}

.font-large {
  font-size: large;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.btn-bare {
  border-radius: 0;
  padding: 0 2mm;
  box-shadow: none;
  background-color: transparent;
  border: none;
  color: currentColor;
}
